* {
    outline: 0;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Lateef;
    direction: rtl;
}
body {
    background-image: url(https://img.freepik.com/premium-photo/old-wooden-texture-background-vintage_55716-1138.jpg?w=2000);
}
.mainBox {
    background-color: rgba(125, 125, 125, 0.5);
    margin: 5% 10%;
    height: auto;
    border-radius: 10px;
    padding: 2%;
}
.mainBox > div {
    vertical-align: top;
}
.dataForm {
    background-color: white;
    width: 45%;
    display: inline-block;
    border: 1px solid gainsboro;
    padding: 2%;
    margin: 2%;
    border-radius: 5px;
    min-height: 200px;
}
.result {
    background-color: white;
    width: 45%;
    display: inline-block;
    border: 1px solid gainsboro;
    padding: 2%;
    margin: 2%;
    border-radius: 5px;
    min-height: 200px;
}
input[type="text"] {
    display: inline-block;
    margin: 2% 0;
    width: 80%;
    text-align: right;
    padding: 2% 10% 2% 0;
    font-size: 24px;
    border-bottom: 3px solid gainsboro;
    transition: all 0.2s;
}
input[type="text"]:focus {
    border-bottom: 3px solid rgb(45, 194, 45);
    transition: all 0.2s;
}
button {
    display: inline-block;
    width: 20%;
    font-size: 36px;
    font-weight: bold;
    color: white;border-radius: 5px;
    background-color: rgb(45, 194, 45);
    transition: all 1s;
}
button:hover {
    background-color: green;
    transition: all 1s;
}
input[type="submit"] {
    width: 100%;
    background-color: rgb(45, 194, 45);
    border-radius: 5px;
    padding: 2%;
    font-size: 34px;
    font-weight: bold;
    color: white;
    transition: all 1s;
}
input[type="submit"]:hover {
    background-color: green;
    box-shadow: 3px 3px 9px rgba(25, 25, 25, 0.5);
    transition: all 1s;
}
.title {
    width: 30%;
}
.data {
    width: 70%;
}
table {
    width: 100%;
}
tr:nth-child(even) {
    background-color: gainsboro;
}
thead {
    background-color: rgb(45, 194, 45);
    color: white;
    font-size: 32px;
}
tbody {
    font-size: 18px;
    font-weight: bold;
}
th , td {
    padding: 2%;
}